---
---

@import "minima";

.site-header, .site-footer {
	background-color: #e8e8e8;
}

.post-list-heading {
	display: none;
}

.post-header {
	border-bottom: 1px solid #e8e8e8;
}

.border {
	border: 1px solid #ddd;
	margin: 5px;
	padding: 5px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

table {
	margin-left: 1px;
	margin-right: 1px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
